.button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-rich-black);
}

.yellow {
  background-color: var(--color-golden-yellow);
}

.lightGreen {
  background-color: var(--color-lime-green);
}

.default {
  background-color: transparent;
}