.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 10px 8px;
  width: 100%;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: var(--color-faint-gray);
  }
}

.title {
  display: flex;
  align-items: center;
  gap: 6px;
  flex: 1;
  min-width: 0;
  overflow: hidden;
}

.name {
  font-size: 14px;
  max-width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}